.App {
  text-align: center;
  align-items: center;
}

.App-header {
  display: flex;
  align-items: center;
  align-content: space-around;
  background: #1c1c1c;
  height: 10vmin;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-header-text {
  flex: 1;
}

.App-logo-container {
  flex: 1;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Radar {
  min-width: 50vw;
}
